|Enter a name and click ADD NAME to be able to join games. For a random name, click ADD NAME without entering anything.

div Game starts when 7 players join. There are 5 villagers and 2 mafia.
ol.ui.list
    li The game starts at night and alternates between night and day turns, each lasting 30 seconds.
    li You're either a villager or mafia
        ol
            li Villagers want to lynch mafia
            li Mafia can vote to kill someone at night.
    li During the day, anyone can talk and vote to lynch someone.
    li During the night, mafia can vote to kill someone.
    li Click on the person's name to vote for them.
    li Villagers win when only villagers are alive.
    li Mafia win when only mafia are alive.
    li Have fun!
    li You can visit this page at anytime by clicking the button at the top.

