.ui.celled.center.middle.aligned.grid
    .row
        .ui.vertical.menu#sideplayermenu
            a.header.item {{user.name}}
            span.ui.teal.label.item {{user.role}}
        .two.wide.column
            .ui.selection.divided.list
                .item(ng-repeat="(name, player) in playersInfo")
                    img.ui.avatar.image(ng-src="{{player.avatar}}")
                    .content
                        a.header {{player.name}}
                        div {{player.role}}
            .ui.selection.divided.list
                .item(ng-repeat="dead in graveyard")
                    img.ui.avatar.image(ng-src="{{player.avatar}}")
                    .content
                        .header {{dead.name}}
                        div {{dead.role}}
        .two.wide.column
        .ten.wide.column
            .ui.fluid.vertical.menu#chatroom
                .ui.celled.grid
                    .row#gamerow
                        .column#chatbox
                            div(ng-repeat="chat in chats | orderBy:'-time'")
                                |{{chat.room}} {{chat.time | date:'mediumTime'}} | {{chat.who}} said : {{chat.message}}
                    .row
                        .column
                            form(ng-submit="sendChat()")
                                .ui.fluid.input
                                    input(type="text" placeholder="Chat" ng-model="latestChat")
