.ui.celled.center.middle.aligned.grid
    .row
        .ui.vertical.menu#sideplayermenu
            a.header.item {{user.name}}
            a.item
        .two.wide.column
            .ui.selection.divided.list
                .item(ng-repeat="player of playersInfo")
                    img.ui.avatar.image(ng-src="{{player.avatar}}")
                    .content
                        a.header {{player.name}}
                        div {{player.role}}
            .ui.selection.divided.list
                .item(ng-repeat="dead in graveyard")
                    img.ui.avatar.image(ng-src="{{player.avatar}}")
                    .content
                        .header {{dead.name}}
                        div {{dead.role}}
        .two.wide.column
        .ten.wide.column
            .ui.fluid.vertical.menu#chatroom
                .ui.celled.grid
                    .row#gamerow
                        .column#chatbox
                            div(ng-repeat="chat in chats")
                    .row
                        .column
                            .ui.fluid.input
                                input(type="text" placeholder="Chat")
